<table id="enable-users">
  <strong>Count: </strong><%= @users.size %>
  <th>LOGIN</th>
  <th>enabled</th>
  <% for user in @users %>
      <tr>
        <td><%= user.created_at %></td>
        <td><%= user.login %></td>
        <td><%= user.enabled %></td>
        <td><%= link_to "disable", :action=>"disable_user", :id=>user %></td>
        <td><%= link_to "enable", :action=>"enable_user", :id=>user %></td>
      </tr>


  <% end %>

</table>