<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<!-- Meta Tags -->
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta http-equiv="content-Language" content="en-us" />
		<meta http-equiv="imagetoolbar" content="false" />
		<meta name="revisit-after" content="3 days" />
		<meta name="robots" content="all" />
        <%= stylesheet_link_tag 'application' %>


      <!-- Title -->
      <title><%= h(yield(:title) || "") %> | FollowATHON</title>
    </head>
	<body id="home">
		<div id="container">
			<div id="top">
			</div> <!-- END #header-wrap -->
			<div id="content-wrap">
				<div class="content">

                    <table width="100%">
                      <tr>
                        <td>
                          <div id="logo">
                            <%= image_tag "twitter_logo.png",:class => "title-img" %>
                            <span class="main-title"><%= link_to "FollowATHON",:controller=>"users",:action=>"home" %></span>
                          </div>
                        </td>
                        <td class="main-nav-container">
                          <div class="main-nav">
						<ul>

							<% if logged_in? then %>
                              <li><%= link_to "Logout",:controller=>"sessions",:action=>"destroy" %></li>
                              <li><%= link_to "My Keywords",:controller=>"keywords" %></li>
                              <li><%= link_to "My Stats",:controller=>"users",:action => "stats" %></li>
                             <% else %>
                              <li><%= link_to "Login / Signup","/login" %></li>

							<% end %>
                          <li><%= link_to "Contact Us",:controller=>"static",:action=>"contact" %></li>


						</ul>
					</div>

                        </td>
                      </tr>
                    </table>
					 <!-- END .main-nav -->
					 <!-- END #logo -->
				</div> <!-- END .content -->
				<div id="banner">

					<div class="left">
						<h2>Get tons of follows who are <span class="bold">interested in you.</span></h2>
						<!--<h2>Follow people that you <span class="bold">delivered.</span></h2>-->
					</div> <!-- END .right -->
                  <ul>
						<li><%= link_to "HOW IT WORKS","/register" %></li>
						<li><%= link_to "OUR PROMISE","/register" %></li>
					</ul>
				</div> <!-- END #banner -->
				<div class="content">
					  <%= yield %>

				</div> <!-- END .content -->
			</div> <!-- END #content-wrap -->
			<div id="footer">
				<ul>
					<li>&copy;2010 FollowATHON</li>
				</ul>
			</div><!-- END #footer -->
		</div> <!-- END #container -->

	</body>
</html>






